* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--black-color);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

:root {
    --black-color: #2d2d2d;
    --shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.264);
}

svg path {
    pointer-events: none;
    transition: all .2s;
    transition: opacity 0s;
}

body {
    background: var(--black-color);
    overflow-x: hidden;
}

/*MODAL*/
.modal {
    z-index: 900;
}

#modal-successful {
    display: flex;
    position: fixed;
    width: 40px;
    height: 60px;
    background: #fff;
    box-shadow: var(--shadow);
    border-radius: 0 0 5px 5px;
    justify-content: center;
    align-items: end;
    translate: 40% -120%;
    transition: translate .25s;
}

#modal-successful svg {
    display: block;
    background-color: green;
    scale: 1.3;
    padding: 4px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#modal-successful svg path {
    fill: #fff;
}

#modal-sign-div {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    height: 100dvh;
    width: 100%;
    z-index: 900;
    backdrop-filter: blur(5px);
}

#modal-sign {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
}

#modal-sign .conteiner {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    width: 90%;
    max-width: 400px;
    height: 200px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 10px;
    padding: 20px 30px;
    padding-top: 30px;
    font-size: 15.5px;
}

#modal-sign .conteiner button {
    margin-left: auto;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #e0e0e0;
    border-radius: 3px;
    font-weight: bold;
    color: #565656;
    transition: all .1s;
}

#modal-sign .conteiner button:hover {
    color: #e0e0e0;
    background-color: #565656;
}

/*APP*/

nav {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    height: 100px;
    margin-bottom: -5px;
}

nav img {
    width: 35px;
}

nav img:hover {
    animation: headShake infinite;
    animation-duration: .8s;
}

nav h1 {
    color: #fff;
    font-weight: normal;
    font-size: 20px;
    cursor: pointer;
}

nav .sign-button-div {
    display: grid;
    place-content: center;
    position: relative;
}

nav .sign-button-div input:checked~.options {
    display: flex;
}

nav .sign-button-div input:checked~.fondo-options {
    display: block;
}

nav .sign-button-div label {
    z-index: 100;
}

nav .sign-button-div svg {
    cursor: pointer;
}

nav .sign-button-div .fondo-options {
    display: none;
    position: fixed;
    width: 100%;
    height: 100dvh;
    z-index: 50;
    left: 0;
    top: 0;
}

nav .sign-button-div .options {
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 12px 0;
    min-width: 130px;
    text-align: center;
    box-shadow: var(--shadow);
    position: absolute;
    background-color: rgb(255, 255, 255);
    list-style: none;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    color: var(--black-color);
    right: 0;
    top: 40px;
    text-transform: uppercase;
    z-index: 100;

}

nav .sign-button-div .options li {
    padding: 10px;
    cursor: pointer;
}

nav .sign-button-div .options li:hover {
    background: #0000001d;
}

nav svg:active {
    scale: .9;
}

.linea {
    display: block;
    width: 90%;
    max-width: 600px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.199);
    margin: 0 auto;
    margin-bottom: 40px;
}

.configuration-conteiner h2 {
    color: #fff;
    font-weight: normal;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.configuration-conteiner form {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 400px;
}

.configuration-conteiner .inputs-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px auto;
}

.configuration-conteiner .inputs-div input {
    display: block;
    height: 30px;
    border: none;
    outline: none;
    padding: 14px;
    background-color: transparent;
    border-bottom: 2px solid #ffffff34;
    color: #fff;
}

.configuration-conteiner button {
    display: block;
    margin-left: auto;
    margin-right: 20px;
    width: 100px;
    height: 30px;
    border-radius: 100px;
    border: none;
    outline: none;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    transition: all .3s;
    cursor: pointer;
    margin-top: 100px;

    opacity: .3;
    pointer-events: none;
}

.configuration-conteiner button:hover {
    background: #fff;
    color: var(--black-color);
}



.sign-conteiner {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
}

.sign-conteiner .conteiner {
    display: grid;
    grid-template-columns: 100% 100% 100%;
    translate: 0%;
    transition: translate .5s ease-in-out;
}

.sign-conteiner h2 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-weight: normal;
    font-size: 25px;
    margin-top: 60px;
}

.sign-conteiner form {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: 0 auto;
    width: 90%;
    max-width: 300px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.sign-conteiner form input {
    padding: 6px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.sign-conteiner form button {
    margin-left: auto;
    width: 35px;
    border: none;
    outline: none;
    aspect-ratio: 1/1;
    display: grid;
    place-content: center;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #fff;
    background-color: transparent;
    transition: all .2s;
    margin-top: 30px;
}

.sign-conteiner form button:hover {
    background: #fff;
}

.sign-conteiner form button:hover svg path {
    fill: var(--black-color);
}

.sign-conteiner .span {
    display: block;
    margin: 5px auto;
    width: 90%;
    max-width: 300px;
}

.sign-conteiner .span span {
    font-size: 13px;
    color: #fff;
    margin-right: 3px;
    cursor: pointer;
    transition: all .2s;
}

.sign-conteiner .span span:hover {
    opacity: .3;
}






section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

section .bar {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
}

section .bar button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 8px;
    font-weight: 500;
    width: 100px;
    height: 30px;
    border-radius: 200px;
    outline: none;
    border: none;
    font-weight: bold;
    color: rgb(94, 94, 94);
    transition: .3s all;
    font-size: 16px;
    padding: 10px;
    box-shadow: var(--shadow);
    cursor: pointer;
    border: 3px solid #fff;
    background: #fff;
}

section .bar button:hover {
    background-color: rgb(94, 94, 94);
    color: #fff;
}

section .bar button:hover>svg path {
    fill-opacity: 1;
    fill: #fff;
}


section .bar .filter-div {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

section .bar .input-div {
    display: block;
    position: relative;
    border-radius: 200px;
    width: 100%;
    outline: none;
    border: none;
    font-weight: bold;
    color: var(--black-color);
    cursor: pointer;
    overflow: hidden;
    max-width: 300px;
    height: 30px;
}

section .bar .input-div input {
    display: block;
    border-radius: 200px;
    width: 100%;
    outline: none;
    border: none;
    font-weight: bold;
    color: var(--black-color);
    cursor: pointer;
    padding: 0 15px;
    overflow: hidden;
    height: 30px;
    padding-left: 40px;
}

section .bar .input-div svg {
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
    z-index: 100;
}

section .bar .input-div svg:hover>path {
    fill: var(--black-color);
}

section select {
    font-size: 16px;
    font-weight: bold;
    padding: 0 8px;
    font-weight: 500;
    width: 100px;
    height: 30px;
    border-radius: 200px;
    outline: none;
    border: none;
    font-weight: bold;
    color: rgba(45, 45, 45, 0.75);
    cursor: pointer;
    transition: .3s all;
    border: 3px solid #fff;
}

section select:hover {
    background-color: rgb(94, 94, 94);
    color: #fff;
}

section select:hover option {
    color: #fff;
}

section select option {
    display: block;
    font-size: 13px;
    font-weight: bold;
    border: none;
    outline: none;
    margin: 20px;
    color: rgba(45, 45, 45, 0.75);
    cursor: pointer;
}

section .table {
    display: block;
    width: 100%;
    box-shadow: var(--shadow);
    overflow-x: auto;
}

section .table::-webkit-scrollbar {
    height: 7px;
    background-color: #b1b1b1;
}

section .table::-webkit-scrollbar-thumb {
    background-color: #434343;
    border-radius: 100px;
}

section .table table {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
}

th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.188);
    padding-bottom: 8px;
}

td {
    border-right: 1px solid rgba(0, 0, 0, 0.188);
    padding: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    color: #2d2d2dda;
}

td.photo-td img {
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

td.edit {
    min-width: 80px;
}

td.edit svg {
    scale: 1.05;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 3px;
}

td.edit svg:active>path {
    opacity: .4;
}

td:nth-last-child(1) {
    border-right: none;
}

section .form-div {
    transition: 1s all;
    height: 0;
    overflow: hidden;
}

section form {
    display: grid;
    position: relative;
    grid-template-columns: 65% 1fr;
    background-color: #fff;
    box-shadow: var(--shadow);
    width: 100%;
    height: 280px;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    overflow-y: auto;
}

section form .text-input-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 350px;
    margin: 20px 0;
    justify-content: space-around;
    padding-right: 30px;
}

section form .text-input-div input {
    display: block;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.281);
    padding-left: 10px;
    font-weight: normal;
    font-size: 15px;
    transition: .3s border;
}

section form .text-input-div input:focus {
    border-bottom: 1px solid #2d2d2d;
    outline: none;
}

section form aside {
    display: flex;
    flex-direction: column;
    background-color: #2d2d2d;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

section form aside * {
    color: #fff;
    font-weight: normal;
}

section form aside .photo-preview {
    display: block;
    position: relative;
    width: 80px;
    aspect-ratio: 1/1;
    background-color: rgba(0, 0, 0, .04);
    border-radius: 50%;
    box-shadow: inset 0 10px 10px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

section form aside .photo-preview img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

section form aside input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

section form aside label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    max-width: 120px;
    padding: 0 5px;
    height: 40px;
    border-radius: 100px;
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: .1s all;
    translate: 0 -18px;
}

section form aside label:active {
    scale: .98;
    box-shadow: none;
}

section form aside button[type="submit"] {
    position: relative;
    display: flex;
    border: none;
    outline: none;
    height: 40px;
    border-radius: 100px;
    translate: 0 5px;
    width: 90%;
    border: 3px solid #ffffff;
    background: transparent;
    cursor: pointer;
    transition: all .3s;
    overflow: hidden;
}


section form aside button[type="submit"]:hover {
    border: none;
    background: #fff;
}

section form aside button[type="submit"]:hover p {
    color: var(--black-color);
}

section form aside button[type="submit"] p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s all;
}



/*MANEJO DE CAPAS*/
.configuration-conteiner {
    display: none;
}

.sign-conteiner {
    display: none;
}

.section-conteiner {
    display: block;
}

.no-signed {
    display: block;
}

.signed {
    display: none;
}