/*Lo que estamos haciendo aquí es usar la propiedad flex para especificar que 
el elemento #titulo debe tomar todo el espacio disponible (usando flex: 1;) 
y que el elemento #logo debe mantener su tamaño original (usando flex: 0;). 
*/
body{
    font-family:Arial, Helvetica, sans-serif;
}
#titulo{
    flex:1;
    color:brown;
    text-align: center;
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

}

#bloque_titulo{
    background-color:#1f2023;
    text-align :left;
    display: flex;
    height: 100px; /*tamaño del bloque negro*/
    justify-content: center; /* averiguar que hace */
    align-items: center; /*centra lo elementos que esten dentro del bloque*/
    padding: 0 10px; 
    border-bottom: 2px solid darkgray;
}

#fondo{
    background-color: #1f2023;
}
#logo{
    flex: 0;
    width: 80px;
    height: 80px;
    ;
}
#fotoFranco{
    width: 75px;
    height: 75px;
    border-radius: 5%;
    margin: 10px;   
}
#fotoSopo{
    width: 60px;
    height: 60px;
}
#tabla{
    margin-top: 20px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background-color: #f2f2f2;
}
.centrado{
    text-align: center;
}
th, td, tr {
    border: 3px solid black;
    font-size: 25px;
    text-align: center;
    color: black;
}
.gray-scale:hover{
    filter: grayscale(100%);
}
.gray-scale{
    filter: grayscale(0%);
}
@keyframes shake {
    0% { transform: translateX(0); }
    10% {transform: translateY(10px);}
    20% { transform: translateX(-10px); }
    30% {transform: translateY(-10px);}
    40% { transform: translateX(10px); }
    50% {transform: translateY(10px);}
    60% { transform: translateX(-10px); }
    70% {transform: translateY(-10px);}
    80% { transform: translateX(10px);}
    90% {transform: translateY(10px);}
    100% { transform: translateX(0);transform: translateY(0); }
}
.shake:hover{
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
