#titulo{
    color:brown;

    text-align: center;
    height: fit-content;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid black;
}
#bloque_titulo{
    background-color: black;
    text-align :left;
    height: 100px;
}
#fondo{
    color: azure;
}
#logo{
    width: 40px;
    float: right;
}